@font-face {
  font-family: 'Circe';
  src: url('https://dmitriikapustin.ru/circe/Circe-Regular.woff') format('woff');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('https://dmitriikapustin.ru/circe/Circe-Bold.woff') format('woff');

  font-weight: bold;
  font-style: normal;
}
